*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
} /*configurações globais*/

body{
    background: linear-gradient(to bottom, rgba(209, 235, 238, 0.884), white);
    background-attachment: fixed;
}/*configurações do body*/


h2{
    animation: upText;
    animation-duration: 5s;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

header{
    
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 100px;
    justify-items: center;
    background-color: rgb(150, 150, 233);
    color: white;
    font-size: 2rem;
    padding-top: 50px;
    margin-bottom: 48px;
    box-shadow: 5px 5px 10px rgb(94, 93, 93);
    text-shadow: 2px 2px 2px #313030;
} /*configurações do header*/

img {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
} /*imagem de fundo*/

main {
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 600px;
    box-shadow: 5px 5px 10px rgba(104, 103, 103, 0.781);
    border-radius: 5px;
    margin: auto;
   
} /*conteúdo principal*/

h1#tittle{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: 300;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.input-box{
    justify-content: center;
    align-items: center;
}


#calculator{
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        
}

.buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;}

button{
        background-color: rgb(34, 165, 56);
        color: white;
}

button:hover{
        background-color: rgb(22, 110, 19);
}
#limpar{
        padding: 10px 15px 10px 15px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(224, 160, 39);
}

#limpar:hover{
        background-color: rgb(192, 154, 49);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
to
    {
        opacity: 1;
    }
}


   


.result-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.result-container.show{
    animation: fadeIn;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p#imcNumber{
    font-weight: 500;
}

p#imcSituation{
    font-weight: 500;
}

.low{
    color: rgb(197, 197, 31);
}

.good{
    color: green;
}

.regular{
    color: rgb(170, 124, 39);
}

.medium{
    color: rgb(221, 85, 7);
}

.bad{
    color: red;
}

.veryBad{
    color: blueviolet;
}

#moreInfo{
    font-size: .8rem;
    margin-top: 10px;
    color: green;
    font-weight: 500;
}

a#back{
    margin-top: 0px;
    font-size: 50px;
}

footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b4b1b1;
    padding: 20px;
    text-align: center;
    color: #2e2b2b;
}

#bottomHome{
    margin-left: 30px;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    text-shadow: 1px 2px 5px rgb(48, 47, 47);
}

.socialMedia{
    font-size: 20px;
    padding: 5px;
    color: #313030;
}

@media screen and (max-width: 500px) {
    li {
        font-size: 0.9rem; /* Reduz o tamanho da fonte para 14px quando a largura da tela é 500px ou menos */
        padding-top: 0px;
    }

    #start {
        margin-top: 20px;
    }
    footer {
        display: none;
        width: 100%;
        background-color: #b4b1b1;
        padding: 20px;
        text-align: center;
        color: #2e2b2b;
        position: fixed;
        bottom: 0;
    }
}
